# DataFrame and Series

In [5]:
import pandas as pd

In [6]:
# data.describe() returns output in the following form (1211,11), where 1211 is no. of rows and 11 is no. of columns

In [7]:
insects = ["ant","bee","cricket"]

In [8]:
type(insects)

list

In [10]:
pd.DataFrame(insects)

         0
0      ant
1      bee
2  cricket

In [12]:
data_insects = pd.DataFrame(insects, columns=["Insects"])

In [13]:
data_insects

   Insects
0      ant
1      bee
2  cricket

In [14]:
animals = {"mammals" : ["cow","sheep","goat"],
           "reptiles" : ["crocodile","lizard","snake"],
           "insects" : ["ant","cricket","bee"]}

In [15]:
type(animals)

dict

In [16]:
data_animals = pd.DataFrame(animals)

In [17]:
data_animals

  mammals   reptiles  insects
0     cow  crocodile      ant
1   sheep     lizard  cricket
2    goat      snake      bee

In [18]:
data_animals["reptiles"]

0    crocodile
1       lizard
2        snake
Name: reptiles, dtype: object

In [19]:
data_animals.reptiles

0    crocodile
1       lizard
2        snake
Name: reptiles, dtype: object

In [20]:
type(data_animals.reptiles)
# single column of data is called series and collection of series is called dataframe

pandas.core.series.Series

In [22]:
data_animals.iloc[0]
# returns first row

mammals           cow
reptiles    crocodile
insects           ant
Name: 0, dtype: object

In [25]:
data_animals.iloc[1]
# returns second row

mammals       sheep
reptiles     lizard
insects     cricket
Name: 1, dtype: object

In [24]:
data_animals.iloc[2]
# returns third row

mammals      goat
reptiles    snake
insects       bee
Name: 2, dtype: object

In [26]:
data_animals.iloc[[0,1]]
# returns first and second row in form of dataframe

  mammals   reptiles  insects
0     cow  crocodile      ant
1   sheep     lizard  cricket

# Indexes

In [28]:
# data.head() returns first five rows from data frame but we can
#  change the no. of rows by giving parameter/arguement in head function

In [29]:
# data.tail() returns last five rows from data frame but we can
#  change the no. of rows by giving parameter/arguement in head function

In [30]:
# data.loc["parameter"] function returns all the indexes that matches the given parameter

#   Filtering Data

In [31]:
# highest_sales = data(["sales"] > 300) it returns output in boolean

In [ ]:
# data.loc[highest_values] returns dataframe containing values higher than 300

<!-- data.sort_values(by=['Any Value']) -->